.rectangle{
    background-image: url('../images/photo-of-people-doing-handshakes-3183172.png');
}
.container-rectangle{
    padding: 0rem 16rem 0rem 10rem;
}
.container-people{
    padding: 0rem 7rem 0rem 7rem;
}
.ok-iam-in{
    background: linear-gradient(360deg, rgba(255, 255, 255, 0.0001) 0%, #FFF5F2 100%);
    border-radius: 1154px/109px;
}
.background-image{
    margin-top: -281px;
}
.refer-neoito{
    background-color: #FF6E43;
}
.wish{
    color: #8C9DC5;

}
.orange{
    color: #FF6E43;
}
.container1{
    padding: 0rem 1rem;
}
.leaf{
    background-image: url('../images/testimonials-bg-1.png');
}
.searchbar{ 
    border-top-style: none;
    border-left-style: none;
    border-right-style: none;
    background: transparent;
    border-color: white;
    border-bottom: 2px solid white;

}
.searchbar:focus{
    border: blue;
}
.searchbar-inside{
    background: transparent;
}
.bringval{
    margin:0px 0px 0px 0px;
}
.your{
    margin: -141px 59px -250px 0px;
}
.topnav{
    display: none;
  }
.responsive{
    display: block;
  }
 @media only screen and (max-width: 600px) {
    .container-rectangle{
        padding: 0rem 1rem 0rem 1rem;
    }
  }
  